<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="stylesheet" href="__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script src="__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script>
		var _url = "{:U('Index/index')}";
	</script>
	<script src="__PUBLIC__/js/single.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/style/single.css"/>
</head>
<body>

</body>
</html>