<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>有事找主席</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="stylesheet" href="__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script src="__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		var school_path = "{:U('School/detailSchool')}"; //获取学校情况
		var get_chairman = "{:U('President/getPresidents')}"; //获取主席团
		var get_comment = "{:U('Comment/getComment')}";//获取评论
		var praise_path = "{:U('School/praise')}"; //用户点赞
		var search_path = "{:U('Comment/search')}"; //搜索
		var apply_comment = "{:U('Comment/comment')}"; //用户提交留言
		var login_path = "{:U('Login/login')}"; //主席登录
		var reply_path = "{:U('President/comment')}"; //主席回复
		var replySeduce_path = "{:U('President/replySeduce')}"; //主席回复勾搭
		var get_unreply = "{:U('President/index')}"; //主席查看未回复留言
		var chairman_path = "{:U('Seduce/index')}";//勾搭主席
		var apply_chairman = "{:U('Seduce/comment')}";//提交主席留言
		var praise_chairman = "{:U('Seduce/praise')}";//给主席点赞
	</script>
	<script src="__PUBLIC__/js/main.js"></script>
	<script src="__PUBLIC__/js/login.js"></script>
	<script src="__PUBLIC__/js/ajax.js"></script>
	<script src="__PUBLIC__/js/reply.js"></script>
	<script src="__PUBLIC__/js/chairman.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/style/style.css"/>
</head>
<body>
	<div data-role="page" id="mask">

	</div>
	<div data-role="page" id="index">
		<div class="mask"></div>
		<div class="spaceKeeper"></div>
		<div class="selectorBtn">

		</div>
		<ul class="schoolSelector" data-role="listview" class="usr_input">
			<span class="selector_title">
				选择学校
			</span>
			<volist name="data" id="vo">
				<li data-school="{$vo.school_id}" data-praise="{$vo.praise}">
					{$vo.school_name}
				</li>
			</volist>
		</ul>
		<div class="charmanLogin">
			<a href="#login" data-transition="flow">主席登陆</a>
		</div>
		<p class="copyright">
			共青团重庆市委学校部 重庆市学生联合会 制
		</p>
	</div>
	<div data-role="page" id="login">
		<div data-role="header" data-position="fixed" id="header">
			<a href="#index" data-transition="turn" data-role="none" class="iconfont backRow" style="color: #fff;font-size: 15px">
				&#xe63c;
			</a>
			<h5>主席登陆</h5>
		</div>
		<div class="login_title">

		</div>
		<ul data-inset="true" data-role="listview" class="usr_input">
			<li>
				<i class="iconfont" style="font-size: 16px;margin-left: 3px;display: inline-block">&#xe625;</i>
				账号
				<input type="text" id="usrName" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\u4E00-\u9FA5]/g,''))"  placeholder="请输入您的账号" data-role="none"/>
			</li>
			<li>
				<i class="iconfont" style="font-size: 20px;">&#xe61b;</i>
				密码
				<input type="password" id="password" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" placeholder="请输入您的密码" data-role="none"/>
			</li>
		</ul>
		<div id="loginBtn" data-role="none">
			登陆
		</div>
	</div>
	<div data-role="page" id="single">
		<div data-role="header" data-position="fixed" id="singleHeader">
			<a data-role="none" class="backIndex iconfont backRow" style="color: #fff;font-size: 15px">
				&#xe63c;
			</a>
			<h1 class="uName"></h1>
		</div>
		<div role="main" class="ui-content">
			<div class="uPhoto">
			</div>
			<p class="uTitle">
				<span class="Tname">
				</span>
				<span class="pray">
					<i style="font-family: iconfont;color: #ff5148;font-size: 16px">&#xe6d1;</i>
					赏赞 <span class="prayNum"></span>
				</span>
			</p>
			<div class="intro">
				&nbsp;&nbsp;&nbsp;<span class="uDire"></span>
			</div>
		</div>
		<div class="wordsBoard">
			<div class="bigCircle"></div>
			<div class="smallCircle"></div>
			<div class="wordsHolder">
				<h5>留言板</h5>
				<textarea name="" id="" class="wordsInput" data-role="none" placeholder="请在这里输入你的留言..."></textarea>
				<div class="applyBtn">
					提交
				</div>
			</div>
			<div class="wordsList">
					<a class="perSchool" style="font-size: 15px;font-weight: 500">还想单独勾搭各位主席？<br/>
						<div class="seduceBack">
							<span style="font-size: 16px;font-weight: 800">点击这里！</span>
						</div>
					</a>
				<ul data-role="listview" data-inset="true" id="List">

				</ul>
				<span class="loadMore">加载更多...</span>
			</div>
		</div>
	</div>
	<div data-role="page" id="charman">
		<div data-role="header" data-position="fixed" id="charmanHeader">
			<a data-role="none" class="backSingle iconfont backRow" style="color: #fff;font-size: 15px">
				&#xe63c;
			</a>
			<h1 class="uName"></h1>
		</div>
			<ul data-role="none" class="comment_holder">

			</ul>
		</div>
	<div data-role="page" id="commentInfo">
		<div data-role="header" data-position="fixed" id="commentHeader">
			<a href="#index" data-transition="flow" data-role="none" class="iconfont backRow" style="color: #fff;font-size: 15px">
				&#xe63c;
			</a>
			<h1>留言回复</h1>
		</div>
		<ul data-role="listview" data-inset="true" class="reply_list">
			<p class="chairman_title">主席团</p>
		</ul>
	</div>
	<script>
		var shareURL = 'http://lcl.deadsoul.net/api/Charman';
		var shareImg = 'http://lcl.deadsoul.net/api/Charman/Public/images/index_back.jpg';
		//wx
		wx.config({
		debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		appId: 'wx4554acd518708e91', // 必填，公众号的唯一标识
		timestamp: <?php echo $time = time() ?>, // 必填，生成签名的时间戳
		nonceStr: 'asdf', // 必填，生成签名的随机串
		signature: "<?php echo sha1('jsapi_ticket='.$ticket.'&noncestr=asdf&timestamp='.$time.'http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].$_SERVER['QUERY_STRING']); ?>",// 必填，签名，见附录1
		jsApiList: [
		'onMenuShareTimeline',
		'onMenuShareAppMessage',
		'onMenuShareQQ',
		'onMenuShareWeibo',
		'onMenuShareQZone'
		] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});
		wx.ready(function(){
		wx.onMenuShareTimeline({
		title: "有事找主席", // 分享标题
		desc:"他们是学生组织中神一样的存在，有事找主席吧！",
		link: shareURL, // 分享链接
		imgUrl: shareImg, // 分享图标
		success: function () {
		// 用户确认分享后执行的回调函数
			alert('分享成功');
		},
		cancel: function () {
		// 用户取消分享后执行的回调函数
		}
		});
		wx.onMenuShareAppMessage({
		title: "有事找主席", // 分享标题
		desc: '他们是学生组织中神一样的存在，有事找主席吧！', // 分享描述
		link: shareURL, // 分享链接
		imgUrl: shareImg, // 分享图标
		success: function () {
		// 用户确认分享后执行的回调函数
			alert('分享成功');
		},
		cancel: function () {
		// 用户取消分享后执行的回调函数
		}
		});
		wx.onMenuShareQQ({
		title: "有事找主席", // 分享标题
		desc: '他们是学生组织中神一样的存在，有事找主席吧！', // 分享描述
		link: shareURL, // 分享链接
		imgUrl: shareImg, // 分享图标
		success: function () {
		// 用户确认分享后执行的回调函数
			alert('分享成功');
		},
		cancel: function () {
		// 用户取消分享后执行的回调函数
		}
		});
		wx.onMenuShareWeibo({
		title: "有事找主席", // 分享标题
		desc: '他们是学生组织中神一样的存在，有事找主席吧！', // 分享描述
		link: shareURL, // 分享链接
		imgUrl: shareImg, // 分享图标
		success: function () {
		// 用户确认分享后执行的回调函数
			alert('分享成功');
		},
		cancel: function () {
		// 用户取消分享后执行的回调函数
		}
		});
		wx.onMenuShareQZone({
		title: "有事找主席", // 分享标题
		desc: '他们是学生组织中神一样的存在，有事找主席吧！', // 分享描述
		link: shareURL, // 分享链接
		imgUrl: shareImg, // 分享图标
		success: function () {
		// 用户确认分享后执行的回调函数
			alert('分享成功');
		},
		cancel: function () {
		// 用户取消分享后执行的回调函数
		}
		});
		});
	</script>
</body>
</html>