<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>有事找主席</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="stylesheet" href="__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css"/>
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script src="__PUBLIC__/js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="__PUBLIC__/js/main.js"></script>
	<script src="__PUBLIC__/js/login.js"></script>
	<script src="__PUBLIC__/js/ajax.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/style/style.css"/>
</head>
<body>
	<div data-role="page" id="index">
		<div class="mask"></div>
		<div class="spaceKeeper"></div>
		<div class="selectorBtn">

		</div>
		<ul class="schoolSelector" data-role="listview" class="usr_input">
			<span class="selector_title">
				选择学校
			</span>
			<li>
				重庆邮电大学
			</li>
			<li>
				西南大学
			</li>
			<li>
				重庆大学
			</li>
			<li>
				西南政法大学
			</li>
			<li>
				重庆医科大学
			</li>
			<li>
				重庆师范大学
			</li>
			<li>
				重庆交通大学
			</li>
			<li>
				重庆工商大学
			</li>
			<li>
				重庆理工大学
			</li>
			<li>
				四川外国语大学
			</li>
			<li>
				四川美术学院
			</li>
			<li>
				重庆三峡学院
			</li>
			<li>
				重庆文理学院
			</li>
			<li>
				长江师范学院
			</li>
			<li>
				重庆第二师范学院
			</li>
			<li>
				重庆警察学院
			</li>
			<li>
				重庆电力高等专科学校
			</li>
			<li>
				重庆医药高等专科学校
			</li>
			<li>
				重庆三峡医药高等专科学校
			</li>
			<li>
				重庆航天职业技术学院
			</li>
			<li>
				重庆电子工程职业学校
			</li>
			<li>
				重庆工业职业技术学院
			</li>
			<li>
				重庆城市管理职业学院
			</li>
			<li>
				重庆工程职业技术学院
			</li>
			<li>
				重庆工贸职业技术学院
			</li>
			<li>
				重庆机电职业技术学院
			</li>
			<li>
				重庆水利电力职业技术学院
			</li>
			<li>
				重庆工商职业学院
			</li>
			<li>
				重庆财经职业学院
			</li>
			<li>
				重庆建筑工程职业学院
			</li>
			<li>
				重庆师范大学涉外商贸学院
			</li>
			<li>
				重庆工商大学融智学院
			</li>
			<li>
				重庆邮电大学移通学院
			</li>
			<li>
				重庆工程学院
			</li>
			<li>
				重庆信息技术职业学院
			</li>
			<li>
				重庆传媒职业学院
			</li>
			<li>
				重庆交通职业学院
			</li>
			<li>
				重庆旅游职业学院
			</li>
			<li>
				重庆公共运输职业学院
			</li>
			<li>
				重庆轻工职业学院
			</li>
			<li>
				重庆幼儿师范高等专科学校
			</li>
		</ul>
		<div class="charmanLogin">
			<a href="#login" data-transition="flow">主席登陆</a>
		</div>
		<p class="copyright">
			共青团重庆市委学校部 重庆市学生联合会 制
		</p>
	</div>
	<div data-role="page" id="login">
		<div data-role="header" data-position="fixed" id="header">
			<a href="#index" data-transition="turn" data-role="none" class="iconfont backRow" style="color: #fff;font-size: 15px">
				&#xe63c;
			</a>
			<h5>主席登陆</h5>
		</div>
		<div class="login_title">

		</div>
		<ul data-inset="true" data-role="listview" class="usr_input">
			<li>
				<i class="iconfont" style="font-size: 16px;margin-left: 3px;display: inline-block">&#xe625;</i>
				账号
				<input type="text" id="usrName" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" placeholder="请输入您的账号" data-role="none"/>
			</li>
			<li>
				<i class="iconfont" style="font-size: 20px;">&#xe61b;</i>
				密码
				<input type="password" id="password" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" placeholder="请输入您的密码" data-role="none"/>
			</li>
		</ul>
		<div id="loginBtn" data-role="none">
			登陆
		</div>
	</div>
	<div data-role="page" id="single">
		<div data-role="header" data-position="fixed" id="singleHeader">
			<a href="#index" data-transition="flow" data-role="none" class="iconfont backRow" style="color: #fff;font-size: 15px">
				&#xe63c;
			</a>
			<h1 class="uName"></h1>
		</div>
		<div role="main" class="ui-content">
			<div class="uPhoto">
			</div>
			<p class="uTitle">
				<span class="Tname">
					<!--西南大学主席团-->
				</span>
				<span class="pray">
					<i style="font-family: iconfont;color: #ff5148;font-size: 16px">&#xe6d1;</i>
					赏赞 <span class="prayNum"></span>
				</span>
			</p>
			<div class="intro">
				&nbsp;&nbsp;&nbsp;<span class="uDire"></span><span class="forMore">更多</span>
			</div>
		</div>
		<div class="wordsBoard">
			<div class="bigCircle"></div>
			<div class="smallCircle"></div>
			<div class="wordsHolder">
				<h5>留言板</h5>
				<textarea name="" id="" class="wordsInput" data-role="none" placeholder="请在这里输入你的留言..."></textarea>
				<div class="applyBtn">
					提交
				</div>
			</div>
			<div class="wordsList">
				<a class="perSchool" href="#perSchool">还想单独勾搭各位主席？<br/>点击这里！</a>
				<ul data-role="listview" data-inset="true">
					<!--<li>-->
						<!--<div class="touxiang">-->

						<!--</div>-->
						<!--<div class="usrBack">-->
							<!--<p class="usrName">相二八</p>-->
							<!--<div class="words" data-role="none" style="word-wrap:break-word; word-break:break-all;">-->
								<!--是是是是是是是是是是是是是是是是是是是是是是是-->
								<!--是是是是是是是是是是是是是是是是是是是是是是是-->
								<!--是是是是是是是是是是是是是是是是是是是是是是是-->
								<!--是是是是是是是是是是是是是是是是是是是是是是是-->
							<!--</div>-->
							<!--<br/>-->
							<!--<div class="reply" style="word-wrap:break-word; word-break:break-all;white-space: normal;">-->
								<!--回复：“<span class="reWords">啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</span>”-->
							<!--</div>-->
						<!--</div>-->
						<!--<p class="ui-li-aside" class="apply_date">9月16日</p>-->
					<!--</li>-->
					<span class="loadMore">加载更多...</span>
				</ul>
			</div>
		</div>
	</div>
	<div data-role="page" id="perSchool">

	</div>
</body>
</html>